In [ ]:
import pandas as pd
import numpy as np

In [6]:
# 1) How-to-count-distance-to-the-previous-zero For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros,print the position Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]} The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
# import pandas as pd
# df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]]
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [7]:
# 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers 
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.953526
2015-01-02    0.984320
2015-01-05    0.283685
2015-01-06    0.251732
2015-01-07    0.692405
2015-01-08    0.610731
2015-01-09    0.513276
2015-01-12    0.485555
2015-01-13    0.023149
2015-01-14    0.126964
2015-01-15    0.026157
2015-01-16    0.215708
2015-01-19    0.500275
2015-01-20    0.883935
2015-01-21    0.345432
2015-01-22    0.349172
2015-01-23    0.937050
2015-01-26    0.684365
2015-01-27    0.713540
2015-01-28    0.546598
2015-01-29    0.903830
2015-01-30    0.101784
2015-02-02    0.480350
2015-02-03    0.455732
2015-02-04    0.611746
2015-02-05    0.210411
2015-02-06    0.200488
2015-02-09    0.645371
2015-02-10    0.636441
2015-02-11    0.672078
                ...
2015-11-20    0.031564
2015-11-23    0.502871
2015-11-24    0.557017
2015-11-25    0.037078
2015-11-26    0.270984
2015-11-27    0.701927
2015-11-30    0.114370
2015-12-01    0.641466
2015-12-02    0.251862
2015-12-03    0.740470
2015-12-04    0.551912
2015-12-07    0.471591
2015-12-08    0.991442
2015-12-09    0.314516
2015-12-10    0.640638
2015-12-11    0.853841
2015-12-14    0.269612
2015-12-15    0.177439
2015-12-16    0.680411
2015-12-17    0.161168
2015-12-18    0.216817
2015-12-21    0.306541
2015-12-22    0.370179
2015-12-23    0.547324
2015-12-24    0.301750
2015-12-25    0.786501
2015-12-28    0.666040
2015-12-29    0.790638
2015-12-30    0.099997
2015-12-31    0.219173
Freq: B, Length: 261, dtype: float64

In [3]:
# 3) Find the sum of the values in s for every Wednesday
s[s.index.weekday == 2].sum()

25.459297343214836

In [4]:
# 4) Average For each calendar month
s.resample('M').mean()

2015-01-31    0.564598
2015-02-28    0.526746
2015-03-31    0.483836
2015-04-30    0.433051
2015-05-31    0.473735
2015-06-30    0.408800
2015-07-31    0.451363
2015-08-31    0.523980
2015-09-30    0.506441
2015-10-31    0.439409
2015-11-30    0.541670
2015-12-31    0.447430
Freq: M, dtype: float64

In [5]:
# 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-09
2015-05-31   2015-04-02
2015-09-30   2015-07-15
2016-01-31   2015-11-10
dtype: datetime64[ns]